@model IEnumerable<Kanbang.Core.Domain.User>

@{
    ViewBag.Title = "Kanbang Team";
}

<h2>Users</h2>
@if(Model != null)
{ 
    foreach (var user in Model)
    {
     <span>@user.Email</span><br/>
    }
}