@{
	StrongViewBag.LayoutDetails = new LayoutDetails
	{
		Title = "Admin",
		CurrentTopMenu = LayoutDetails.TopMenu.Admin,
		Breadcrumbs = new List<Link>
		{
			new Link("Admin", this.Url.Action(MVC.Home.Index()))
		}
	};
}

<h2>Admin page</h2>
<p>This page is only accessible to users with <em>Admin</em> role.</p>