<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="Kanbang"
			connectionString="Data Source=example.com;Initial Catalog=Kanbang;User ID=Kanbang_dba;Password=password"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="KanbangServices"
			connectionString="Data Source=example.com;Initial Catalog=KanbangServices;User ID=KanbangServices_dba;Password=password"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="UserManagement"
             connectionString="Application Name=UserManagement;Server=sqlprod;Trusted_Connection=false;Database=UserManagement;user=UserManagementUser;Password=findingnemo;Connect Timeout=3000"
             providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add key="app.root" value="https://intratest.unops.org/apps/app" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.identityModel.services>
		<federationConfiguration>
			<cookieHandler requireSsl="true" xdt:Transform="SetAttributes" />
		</federationConfiguration>
	</system.identityModel.services>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="no-reply@unops.org" xdt:Transform="Replace">
				<network host="smtp.crp.unops.local" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes" />
		<customErrors mode="Off" xdt:Transform="SetAttributes"></customErrors>

		<caching>
			<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
		</caching>
	</system.web>
</configuration>